*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: latoregular;
    line-height: 1.5em;
    color: $black;
    background-color: $light-grey;
	text-align: center;
}