.btn {
    padding: 10px 30px;
    background-color: $main-color;
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 54px;
    cursor: pointer;
    border: 2px solid $main-color;
    display: inline-block;
    
    &:hover {
        transition: background-color .2s;
        background-color: transparent;
        color: $main-color;
    }

    &:active {
        transition: background-color .2s;
        background-color: $main-color;
        color: $white;
    }
}

.search-input {
    text-align: left;
    display: inline-block;
    padding: 0px;
    font-size: 48px;
    color: $black;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid $border-color;
    line-height: 72px;
    width: calc(100vw - 100px);

    &::placeholder {
        color: $black;
    }
}

.cross {
    display: inline-block;
}

.search-label {
    text-align: left;
    margin: 5px 0px 0px 0px;
    color: $sub-text;
}

.search-div__alignment {
    text-align: left;
}